/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199.98px) {}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991.98px) {}


/* small mobile :320px. */
@media (min-width: 576px) and (max-width: 767.98px) {
    .expent-md .container {
        position: relative;
    }

    .expent-md .nav-menu {
        text-align: center;
    }

    .expent-md .menu-item {
        display: block;
    }

    .expent-md .toggler-button button {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
    }

    .toggler-button button span {
        position: relative;
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
        opacity: 1;
    }

    .toggler-button button.active span:nth-of-type(1) {
        -webkit-transform: rotate(46deg);
        transform: rotate(46deg);
        top: 8px;
        -moz-transform: rotate(46deg);
        -ms-transform: rotate(46deg);
        -o-transform: rotate(46deg);
    }

    .toggler-button button.active span:nth-of-type(2) {
        opacity: 0;
    }

    .toggler-button button.active span:nth-of-type(3) {
        transform: rotate(135deg);
        top: -8px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
    }

    .expent-md .menu-item a {
        padding: 15px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-right: 30px;
    }

    .expent-md .nav-menu {
        position: absolute;
        background: #343A40;
        z-index: 99;
        width: 100%;
        left: -130%;
        top: 100%;
        height: 80vh;
        transition: all .5s linear;
        -webkit-transition: all .5s linear;
        -moz-transition: all .5s linear;
        -ms-transition: all .5s linear;
        -o-transition: all .5s linear;
    }

    .expent-md .active.nav-menu {
        left: -30%;
        height: 100vh;

    }

}

/* Large Mobile :480px. */
@media only screen and (max-width: 575.98px) {
    .expent-md .container {
        position: relative;
    }

    .expent-md .nav-menu {
        text-align: center;
    }

    .expent-md .menu-item {
        display: block;
    }

    .expent-md .toggler-button button {
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 0;
        cursor: pointer;
    }

    .toggler-button button span {
        position: relative;
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
        opacity: 1;
    }

    .toggler-button button.active span:nth-of-type(1) {
        -webkit-transform: rotate(46deg);
        transform: rotate(46deg);
        top: 8px;
        -moz-transform: rotate(46deg);
        -ms-transform: rotate(46deg);
        -o-transform: rotate(46deg);
    }

    .toggler-button button.active span:nth-of-type(2) {
        opacity: 0;
    }

    .toggler-button button.active span:nth-of-type(3) {
        transform: rotate(135deg);
        top: -8px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
    }

    .expent-md .menu-item a {
        padding: 15px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-right: 30px;
    }

    .expent-md .nav-menu {
        position: absolute;
        background: #343A40;
        z-index: 99;
        width: 100%;
        left: -130%;
        top: 100%;
        height: 80vh;
        transition: all .5s linear;
        -webkit-transition: all .5s linear;
        -moz-transition: all .5s linear;
        -ms-transition: all .5s linear;
        -o-transition: all .5s linear;
    }

    .expent-md .active.nav-menu {
        left: -30%;
        height: 100vh;

    }
}